In [1]:
import numpy as np
import pandas as pd
import xlrd
import csv

In [2]:
print(np.version.version)
print(pd._version.get_versions())

1.17.4
{'dirty': False, 'error': None, 'full-revisionid': '62a87bf4a2af02a8d3bc271ad26e5994292b8e6a', 'version': '0.25.3'}

In [2]:
xlrd_book = xlrd.open_workbook('Datos/Edificio 4px2.2 3cx4 2cx4.xlsx', on_demand=True)
with pd.ExcelFile(xlrd_book) as xlsx:
    Edificio_4px22_3cx4_2cx4_Grado36 = pd.read_excel(xlsx, 'Grado 3.6')
#   Eliminar la columna 5 de cada uno
#   Guardarlo en un csv en la carpeta data csv
    Edificio_4px22_3cx4_2cx4_Grado53 = pd.read_excel(xlsx, 'Grado 5.3')
    Edificio_4px22_3cx4_2cx4_Grado72 = pd.read_excel(xlsx, 'Grado 7.2')

FileNotFoundError: [Errno 2] No such file or directory: 'Datos/Edificio 4px2.2 3cx4 2cx4.xlsx'

In [89]:
Edificio_4px22_3cx4_2cx4_Grado36

,T,DXP (m),DZP (m),DXU (m),DZU (m),Unnamed: 5,AXP (m/s^2),AZP (m/s^2),AXU (m/s^2),AZU (m/s^2)
0,0.005,3.942600e-08,3.315300e-08,4.546900e-08,3.796400e-08,NaN,0.003128,0.002630,0.003607,0.003012
1,0.010,1.297700e-07,1.130500e-07,1.684800e-07,1.443700e-07,NaN,0.001007,0.001158,0.002654,0.002509
2,0.015,1.812300e-07,1.839900e-07,2.974100e-07,2.830500e-07,NaN,-0.004132,-0.001894,-0.002188,0.000058
3,0.020,1.320800e-07,2.193000e-07,3.552400e-07,4.316400e-07,NaN,-0.003951,-0.000976,-0.003526,0.000718
4,0.025,3.307000e-08,2.465200e-07,3.486000e-07,6.072600e-07,NaN,-0.000045,0.000338,-0.001642,0.001454
...,...,...,...,...,...,...,...,...,...,...
1995,9.980,2.190800e-06,-2.206200e-06,9.224600e-06,-8.618200e-06,NaN,-0.001554,0.005047,-0.013509,0.006548
1996,9.985,2.446000e-06,-1.741000e-06,9.645600e-06,-9.549100e-06,NaN,-0.002973,-0.000664,-0.014905,0.013608
1997,9.990,2.609600e-06,-1.357000e-06,9.710800e-06,-1.007000e-05,NaN,-0.004354,-0.005832,-0.013561,0.019226
1998,9.995,2.643900e-06,-1.159300e-06,9.473700e-06,-1.006000e-05,NaN,-0.005988,-0.009088,-0.010631,0.023235
1999,10.000,2.539300e-06,-1.186400e-06,9.012200e-06,-9.455500e-06,NaN,-0.005147,-0.008908,-0.007320,0.024318

In [3]:
sismo=dict()
sismo={
    1:"Edificio 3px2.2 2cx7 5cx4",
    2:"Edificio 3px2.2 3cx3 3cx4",
    3:"Edificio 3px2.2 3cx6 4cx4",
    4:"Edificio 3px2.2 4cx3 3cx5",
    5:"Edificio 3px2.6 2cx7 5cx4",
    6:"Edificio 3px2.6 3cx3 3cx4",
    7:"Edificio 3px2.6 3cx6 4cx4",
    8:"Edificio 3px2.6 4cx3 3cx5",
    9:"Edificio 3px3 2cx7 5cx4",
    10:"Edificio 3px3 3cx3 3cx4",
    11:"Edificio 3px3 3cx6 4cx4",
    12:"Edificio 3px3 4cx3 3cx5",
    13:"Edificio 4px2.2 2cx2 5cx2",
    14:"Edificio 4px2.2 2cx3 4cx4",
    15:"Edificio 4px2.2 3cx3 4cx2",
    16:"Edificio 4px2.2 3cx4 2cx4",
    17:"Edificio 4px2.6 2cx2 5cx2",
    18:"Edificio 4px2.6 2cx3 4cx4",
    19:"Edificio 4px2.6 3cx3 4cx2",
    20:"Edificio 4px2.6 3cx4 2cx4",
    21:"Edificio 4px3 2cx2 5cx2",
    22:"Edificio 4px3 2cx3 4cx4",
    23:"Edificio 4px3 3cx3 4cx2",
    24:"Edificio 4px3 3cx4 2cx4",
    25:"Edificio 5px2.2 2cx3 4cx4",
    26:"Edificio 5px2.2 2cx5 2cx4",
    27:"Edificio 5px2.2 3cx3 3cx2",
    28:"Edificio 5px2.2 3cx4 2cx4",
    29:"Edificio 5px2.6 2cx3 4cx4",
    30:"Edificio 5px2.6 2cx5 2cx4",
    31:"Edificio 5px2.6 3cx3 3cx2",
    32:"Edificio 5px2.6 3cx4 2cx4",
    33:"Edificio 5px3 2cx3 4cx4",
    34:"Edificio 5px3 2cx5 2cx4",
    35:"Edificio 5px3 3cx3 3cx2",
    36:"Edificio 5px3 3cx4 2cx4",
    37:"Edificio 6px2.2 2cx3 2cx6",
    38:"Edificio 6px2.2 2cx3 3cx2",
    39:"Edificio 6px2.2 2cx5 2cx4",
    40:"Edificio 6px2.2 3cx4 2cx4",
    41:"Edificio 6px2.6 2cx3 2cx6",
    42:"Edificio 6px2.6 2cx3 3cx2",
    43:"Edificio 6px2.6 2cx5 2cx4",
    44:"Edificio 6px2.6 3cx4 2cx4",
    45:"Edificio 6px3 2cx3 2cx6",
    46:"Edificio 6px3 2cx3 3cx2",
    47:"Edificio 6px3 2cx5 2cx4",
    48:"Edificio 6px3 3cx4 2cx4"  
}

In [4]:
carpeta=dict()
carpeta={
    1:"Datos en Excel",
    2:"Datos en Csv"
}
extension=dict()
extension={
    1:"xlsx",
    2:"csv"
}
grados=dict()
grados={
    1:"Grado 3.6",
    2:"Grado 5.3",
    3:"Grado 7.2"
}

In [63]:
# xlrd_book = xlrd.open_workbook("../"+carpeta[1]+"/"+sismo[1]+"."+extension[1], on_demand=True)
# with pd.ExcelFile(xlrd_book) as xlsx:
#     # GRADO 3.6
#     df1 = pd.read_excel(xlsx, grados[1])
#     df1 = df1.drop(df1.columns[5],axis='columns')   #   Eliminar la columna 5
#     my_df = pd.DataFrame(df1)                 #   Guardarlo en un csv en la carpeta data csv
#     my_df.to_csv(sismo[1]+"  "+grados[1]+"."+extension[2], index=False, header=df1.columns,sep=';',decimal='.')
#     # GRADO 5.3
#     df2 = pd.read_excel(xlsx, grados[2])
#     df2 = df2.drop(df2.columns[5],axis='columns')
#     my_df = pd.DataFrame(df2) 
#     my_df.to_csv(sismo[1]+"  "+grados[2]+"."+extension[2], index=False, header=df2.columns,sep=';',decimal='.')
#     # GRADO 7.2
#     df3 = pd.read_excel(xlsx, grados[3])
#     df3 = df3.drop(df3.columns[5],axis='columns')
#     my_df = pd.DataFrame(df3) 
#     my_df.to_csv(sismo[1]+"  "+grados[3]+"."+extension[2], index=False, header=df3.columns,sep=';',decimal='.')

In [5]:
for i in range(48):
    xlrd_book = xlrd.open_workbook("../"+carpeta[1]+"/"+sismo[i+1]+"."+extension[1], on_demand=True)
    with pd.ExcelFile(xlrd_book) as xlsx:
        # GRADO 3.6
        df1 = pd.read_excel(xlsx, grados[1])
        df1 = df1.drop(df1.columns[5],axis='columns')   #   Eliminar la columna 5
        my_df = pd.DataFrame(df1)                 #   Guardarlo en un csv en la carpeta data csv
        my_df.to_csv(sismo[i+1]+"  "+grados[1]+"."+extension[2], index=False, header=df1.columns,sep=';',decimal='.')
        # GRADO 5.3
        df2 = pd.read_excel(xlsx, grados[2])
        df2 = df2.drop(df2.columns[5],axis='columns')
        my_df = pd.DataFrame(df2) 
        my_df.to_csv(sismo[i+1]+"  "+grados[2]+"."+extension[2], index=False, header=df2.columns,sep=';',decimal='.')
        # GRADO 7.2
        df3 = pd.read_excel(xlsx, grados[3])
        df3 = df3.drop(df3.columns[5],axis='columns')
        my_df = pd.DataFrame(df3) 
        my_df.to_csv(sismo[i+1]+"  "+grados[3]+"."+extension[2], index=False, header=df3.columns,sep=';',decimal='.')

In [143]:
# my_df = pd.DataFrame(df1) 
# my_df.to_csv('Edificio 4px2.2 3cx4 2cx4.csv', index=False, header=False,sep=';',decimal='.')

In [49]:
# pd.read_csv('Edificio 3px2.2 2cx7 5cx4  Grado 7.2.csv',sep=';',decimal=',')

,T,DXP (m),DZP (m),DXU (m),DZU (m),AXP (m/s^2),AZP (m/s^2),AXU (m/s^2),AZU (m/s^2)
0,0.005,2.4649e-08,8.4119e-08,2.3528e-08,9.0701e-08,0.0019556,0.0066739,0.0018667,0.0071961
1,0.01,8.903e-08,3.5206e-07,9.0981e-08,4.0299e-07,0.001256,0.008113,0.0016747,0.010603
2,0.015,1.4288e-07,7.5287e-07,1.6456e-07,9.4664e-07,-0.0020987,0.0025205,-0.0011805,0.0079089
3,0.02,1.1899e-07,1.1463e-06,1.7054e-07,1.6548e-06,-0.004131,-0.0031127,-0.0042291,0.0052473
4,0.025,-1.7696e-08,1.3972e-06,3.7816e-08,2.4402e-06,-0.0048959,-0.0082902,-0.0068692,0.00095033
...,...,...,...,...,...,...,...,...,...
1995,9.98,0.00013607,-0.00024218,0.00042577,-0.00063178,-0.15765,0.40669,-0.34925,0.93989
1996,9.985,0.00012148,-0.0002353,0.00039165,-0.00060384,-0.13719,0.45354,-0.37317,0.88317
1997,9.99,0.00010386,-0.00021709,0.00034806,-0.00055469,-0.10482,0.4537,-0.38477,0.81315
1998,9.995,8.4122e-05,-0.00018819,0.000295,-0.00048618,-0.064835,0.40069,-0.37306,0.73593
1999,10.0,6.3278e-05,-0.0001505,0.00023314,-0.00040033,-0.023674,0.30325,-0.33087,0.65097